h1, h2, h3, p {
    font-family: Arial, Helvetica, sans-serif;
} 
h1 {
    background-image: url(img/pattern.webp);
    font-size: 100px;
    color: khaki;
    text-align: center;
}

.item h2 {
    font-size: 32px;
    color: white;
}

.price {
    font-weight: bold;
    color: blue;
}

.brushes{
    background-color: mediumaquamarine;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}
